blinker
certifi
charset-normalizer
click
colorama
Flask
idna
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
pandas
python-dateutil
pytz
requests
scikit-learn==0.24.2
scipy
six
threadpoolctl
tzdata
urllib3
Werkzeug
gunicorn
sklearn
